IO_LOC  "clk" 52;
IO_PORT "clk" PULL_MODE=UP;

IO_LOC  "led[0]" 10;

IO_LOC  "led[1]" 11;

IO_LOC  "led[2]" 13;

IO_LOC  "led[3]" 14;

IO_LOC  "led[4]" 15;

IO_LOC  "led[5]" 16;

IO_LOC  "uart_tx" 17;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33;

IO_LOC  "uart_rx" 18;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33;

// New: PWM output pins
IO_LOC  "pwm_out[0]" 25;
IO_PORT "pwm_out[0]" IO_TYPE=LVCMOS33;
IO_LOC  "pwm_out[1]" 26;
IO_PORT "pwm_out[1]" IO_TYPE=LVCMOS33;
IO_LOC  "pwm_out[2]" 27;
IO_PORT "pwm_out[2]" IO_TYPE=LVCMOS33;
IO_LOC  "pwm_out[3]" 28;
IO_PORT "pwm_out[3]" IO_TYPE=LVCMOS33;

// New time sender UART TX pin
IO_LOC  "time_tx" 30;
IO_PORT "time_tx" IO_TYPE=LVCMOS33;
